<!-- Modal -->
    <div class="modal fade" id="forgotPasswordModal" tabindex="-1" role="dialog" aria-labelledby="registerModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="$('#emailForgotPass').val('')"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="registerModalLabel">Forgot Your Password?</h4>
          </div>
          <div class="modal-body">
           <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, id: "forgotPasswordForm", :remote => true }) do |f| %>
                <div class="form-group label-floating">                   
                    <label for="emailAddr" class="control-label">Email Address</label>
                    <!-- <input type="email" class="form-control" id="emailAddr"> -->
                    <%= f.email_field :email, class: "form-control", autofocus: true, required: true, :id =>"emailForgotPass" %>
                    <label class="error emailError" style="display:none;"></label>
                </div> 

                <button type="submit" class="btn btn btn-raised btn-login btn-theme1", onclick="sendForgotPass();">Reset Password</button> 
            <% end %>
          </div>
        </div>
      </div>
    </div>
<%#= render "users/shared/links" %>
<script type="text/javascript">
  function sendForgotPass() {
    var email = $("#emailForgotPass").val();
    if (email.trim().length != 0)
    {
      var ajax_data = {"user": 
        {
        "email": email
        }
      };
      console.log(ajax_data)
      $.ajax({
        url: "<%= password_path(resource_name)%>",
        format: "json",
        method: "post",
        data: ajax_data,
        success: function(response){   
        console.log(response) 
        console.log(response["status"])
        if(response.status) {
          $(".emailError").hide();
          window.location.reload();
        } else {
          $(".emailError").show();
          setTimeout(function(){      
            $(".emailError").fadeOut();
          },3000);
          $(".emailError").html(response.message)
        }
          
        }
      });
    }
    else
    {
      $(".emailError").html("Please enter a valid email address.")
    }
  }

</script>