<div class="content_middle wow fadeInUp" data-wow-delay="0.4s">
  <div class="container">
     <div class="col-md-9 grid_2">
        <h3>Start Dating Now !</h3>
        <h4>Download our mobile apps and start dating right now.</h4>
        <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore.</p>
        <ul class="apps wow fadeInLeft" data-wow-delay="0.4s">
        <li><a href="#"><i class="app"></i></a></li>
      <li><a href="#"><i class="google"></i></a></li>
      </ul>
       <h5>OR</h5>
       <a href="#" class="btn3 btn-3 btn3-1b">Sign Up</a>
     </div>
     <div class="col-md-3 grid_3 wow fadeInRight" data-wow-delay="0.4s">
         <span> </span>
     </div>
  </div>
</div>