<div class="content_top">
  <div class="container">
  <div class="col-md-6 grid_1">
    <h2>London Lovestory</h2>
    <iframe width="" height="" src="//www.youtube.com/embed/6KkS2mQsmw8" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="col-md-6">
    <section class="slider">
        <div class="flexslider">
          <ul class="slides">
            <li>
              <div class="banner-info">
                 <h3>Meet Jesica and Adam</h3>
                 <h4><span class="m_2">"</span> my true love here<span class="m_2"> "</span></h4>
                 <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent.</p>  
                 <h5><a href="#">Adam Chamler ,</a>Dateratr since 2014</h5>
              </div>
            </li>
            <li>
              <div class="banner-info">
                 <h3>Meet Jesica and Adam</h3>
                 <h4><span class="m_2">"</span> my true love here<span class="m_2"> "</span></h4>
                 <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent.</p>  
                 <h5><a href="#">Adam Chamler ,</a>Dateratr since 2014</h5>
              </div>
            </li>
            <li>
              <div class="banner-info">
                 <h3>Meet Jesica and Adam</h3>
                 <h4><span class="m_2">"</span> my true love here<span class="m_2"> "</span></h4>
                 <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent.</p>  
                 <h5><a href="#">Adam Chamler ,</a>Dateratr since 2014</h5>
              </div>
            </li>
            </ul>
         </div>
        </section>
  </div>
  </div>
</div>