<%if @friends_request.length>0%>
	<div class="col-md-4">    	
    	<div id="divRecentRequests" class="border-title">
    		<h4>My Requests</h4>
    	</div>
    	<div class="request_right">
    		<% @friends_request.each_with_index do |request,counter| %>		  		   
    			<%target_user = request.friend_id == current_user.id ? request.user : request.friend%>
		    	<%= render :partial => "user_friends/recvd_req_template", :locals=>{:target_user=>target_user, :request=>request} %>
	    	<%end%>
    	</div>
    	<!-- <div class="text-center mtb20">
			<button class="btn btn-raised btn-bordered btn-yellow">Load more</button>
		</div> -->
    </div>
	<%#= render :partial => "landing/sent_requests" %>
<%end%>