<div class="content_middle">
    <div class="container">
    	<div class="row">
		    <%= render :partial => "landing/accepted_friends", :locals =>{:accepted_friends => @user_friends, :custom_class => "col-md-12", :custom_class1 => "4", :check_current_profile_id => current_user.id, :dont_check_if_friend => true} %>
		</div>
    </div>
</div>